<% total = 0 %>
<% @purchase.each { |num| total += num[:amount] } %>
<ul class="details-wrapper d-flex flex-column">
  <li class="d-flex details-category border-details">
    <div class="icon">
      <%= image_tag("#{@category.icon}", alt: "#{@category.name} icon") %>
    </div>
    <p class="detail-name"><strong><%= @category.name %></strong></p>
    <p class="cat-amount">Total spent: $<%= total %></p>
  </li>
  <% @purchase.each do |good| %>
    <li class="d-flex border-details f-justify-between details-cards">
      <p><%= good[:name] %></p>
      <p>$<%= good[:amount] %></p>
    </li>
  <% end %>
</ul>